*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100vw;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #111;
}

.calculator{
    background-color: #333;
    padding: 20px;
    border-radius: 16px;
}

.calculator input {
    width: 100%;
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
button:hover{
    filter: brightness(70%);
}
button{
    border: 0;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
button.secondary{
    background-color: royalblue;
    color: white;
}
